* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #DCE35B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #45B649, #DCE35B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000044;
    background-color: #ffffff;
}

.head {
    display: flex;
    margin-bottom: 10px;
    /* justify-content: center; */
    align-items: center;
}

.head img {
    /* width: 60px; */
    height: 50px;
}

.inp {
    border-radius: 30px;
    background-color: #c9c9c9;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

#newTask {
    border: none;
    background: none;
    outline: none;
    height: 40px;
}

.add {
    height: 100%;
    border: none;
    background-color: #45b649;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    color: rgb(23, 23, 23);
}

.tasks {
    margin: 30px 0px 20px 0px;
}

.tasks ul li {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding-left: 40px;
    user-select: none;
    position: relative;
    cursor: pointer;
}

.tasks ul li.checked{
    text-decoration: line-through;
    color: #00000067;
}
.tasks ul li::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(images/unchecked.webp);
    background-size: cover;
    background-position: center;
    top: -5px;
    left: 0px;
}

.tasks ul li.checked::before {
    background-image: url(images/checked.png);
}

.tasks ul li span{
    position: absolute;
    right: 0px;
    border-radius: 50%;
    transition-duration: 0.5s;
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: #555;
    text-align: center;
    text-justify: center;
    font-size: 22px;
    top: -4px;
}
.tasks ul li span:hover{
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    color: #555;
}